@page "/UI/Regsitros/rComprasComponent"
@inject IToastService toastService

@using AgroVeterinariaSoft.Data;
@using AgroVeterinariaSoft.Models;
@using AgroVeterinariaSoft.Controllers;

<div class="container">
    <EditForm>

    </EditForm>
</div>

<h3>RComprasComponent</h3>

@code {


}
