@page "/UI/Regsitros/resgisrtoSuplidores"

@using AgroVeterinariaSoft.Data;
@using AgroVeterinariaSoft.Models;
@using AgroVeterinariaSoft.Controllers;
<h3>RegistroSuplidores</h3>

<EditForm Model="Suplidor" OnValidSubmit="Guardar">

</EditForm>



@code {
    Suplidores Suplidor = new Suplidores();

    private void Guardar()
    {

    }
}
