@page "/"
@inject IToastService toast
@*<link href="/css/Inicio.css" rel="stylesheet" />*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<style>


    .centrado {
        position: absolute;
        font-size: 2.9vw;
        top: 15%;
        left: 50%;
        color: white;
        font-style: italic;
        line-height: 137.50%;
        transform: translate(-50%, -50%);
        font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .subcentrado {
        position: absolute;
        font-size: 2.2vw;
        top: 40%;
        left: 49%;
        color: white;
        font-style: normal;
        /*line-height: 130.50%;*/
        transform: translate(-50%, -50%);
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .acerca {
        font-size: 2vw;
        color: black;
        font-style: normal;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .contenedor {
        margin-top: 20%;
        margin-left: 20%;
    }
</style>
<div>
    <div class="row">

        <div class="col-12">
            <img src="/Imagenes/imagen3.jpg" alt="Alternate Text" class="img-fluid" />
            <div class="centrado"> <p>Agro-Veterinaria Emil</p></div>
            <div class="subcentrado"> <p>"Brindando siempre el mejor servicio"</p></div>
        </div>


    </div>
    <div class="container-fluid">
        <div style="margin-top: 10%;">
            <h3 style="text-align:center;">Servicios: </h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  col-lg-4">

                <div class="card" style="width: auto;">

                    <i style="margin-left:auto; margin-right:auto;" class="fas fa-vial fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Venta de Productos Agricolas</h5>
                        <p class="card-text">Le ofrecemos una vasta cantidad <br />de productos para la agricultura.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12  col-lg-4">

                <div class="card" style="width: auto;">

                    <i style="margin-left:auto; margin-right:auto;" class="fas fa-horse fa-4x   "></i>
                    <div class="card-body">
                        <h5 class="card-title">Venta de Productos Veterinarios</h5>
                        <p class="card-text">
                            Pensando en nuestros clientes tenemos <br />
                            una alta gama de productos veterinarios
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12  col-lg-4">

                <div class="card" style="width: auto;">

                    <i style="margin-left:auto; margin-right:auto;" class="fas fa-dog fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title"> Revisión y baños a Mascotas</h5>
                        <p class="card-text">Proximamente tendremos un <br />servicio Revisión y baños a Mascotas.</p>

                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:10%; margin-bottom:10%;" class="border-light">
            <div class="container-fluid">
                <h1 style="text-align:center"> Sobre Nosotros</h1>
                <div class="row">
                    <div class="col-md-12 col-sm-12  col-lg-4 align-content-sm-center">
                        <i class="fas fa-globe fa-7x"></i>
                    </div>
                    <div class="col-md-12 col-sm-12  col-lg-8">
                        <div class="container-fluid">
                            <div class="acerca">
                                <p>
                                    Somos una Empresa cuya mision es ser la empresa líder en la venta de productos y <br />
                                    servicios agrícolas y veterinarios de la región, caracterizándonos por brindar calidad <br />
                                    y confianza a nuestros clientes.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>



</div>

@code{  


    protected override void OnInitialized()
    {
        if (UsuariosController.InicializarUsuarios())
        {
            toast.ShowSuccess("Inicializado Correctamente");
        }
    }
}





