@page "/CHome"

@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>


    <NotAuthorized>
        <p class="display-4 text-center">Usted no esta autorizado para acceder a esta pagina</p>
    </NotAuthorized>

</AuthorizeView>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
<div class="container">
    <div class="form-group">
        <div class="form-row">

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de clientes-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Clientes</h5>
                        <p class="card-text">Consultar los clientes registrados.</p>
                        <a href="CClientes" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Compras-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Compras</h5>
                        <p class="card-text">Consultar las compras realizadas </p>
                        <a href="CCompras" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Productos-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Productos</h5>
                        <p class="card-text">Consultar los productos registrados.</p>
                        <a href="CProductos" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Suplidores-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Suplidores</h5>
                        <p class="card-text">Consultar los suplidores registrados.</p>
                        <a href="CSuplidores" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Usuarios-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Usuarios</h5>
                        <p class="card-text">Consultar los Usuarios registrados.</p>
                        <a href="CUsuarios" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Ventas-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Ventas</h5>
                        <p class="card-text">Consultar las ventas efectuadas.</p>
                        <a href="CVentas" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12  col-lg-4">
                <!---Consulta de Ventas-->
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Consulta de Unidades</h5>
                        <p class="card-text">Consultar las Unidades registradas.</p>
                        <a href="CUnidades" class="btn btn-primary">Ir a la consulta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


</div>
}


@code {

}
